.example {
  justify-content: center;
  margin: 50px 0 0 50px;
}
.display{
  display: flex;
}
.input {
  padding: 10px;
  /* background-color: aquamarine;
  color: rgb(224, 21, 21); */
  font-weight: bold;
}
.button {
  padding: 5px 15px;
  /* color: brown;
  background-color: rgb(219, 219, 219); */
  /* border: none; */
}
.btn:active li{
  display: none;
}